/* Write your CSS here */
.welcome-bg-container {
  background-color: #1e293b;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-heading {
  font-family: 'Bree Serif';
  font-size: 40px;
  font-weight: bold;
  color: #f0bb03;
}
.description {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.button-style {
  font-family: 'Bree Serif';
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 0px;
  height: 30px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .welcome-heading {
    font-size: 96px;
  }
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .button-style {
    font-size: 18px;
  }
}
